<ion-view view-title="فروشگاه">
  <ion-content>
  <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
    	<img ng-src="pics/button_verified.png" ng-if="dealsStore.sVerified === 'YES'">
    	<div class="text text-right">
    	{{dealsStore.sName}} 
    	<p>  {{dealsStore.sHours}}:ساعات کار </p>
    	<p>  {{dealsStore.sTel1}}:تلفن </p>
    	<p>  {{dealsStore.sAddress}} </p>
    	<h2> </h2>
    	<p></p>
    	<div>
    	 	<a href="#/tab/deals/store/note/{{storeIndex}}"> <img ng-src="pics/discount_{{dealsStore.dPrecentage}}.png" ng-if="dealsStore.dPrecentage > 0"></a>
    	  	<a href="#/store/map/{{dealsStore.sLat}}/{{dealsStore.sLong}}"> <img ng-src="pics/button_map.png"></a>
    		<a href="tel:{{dealsStore.sAreaCode}}{{dealsStore.sTel1}}"> <img ng-src="pics/button_contact.png"></a>
    	</div>  	
    	
        </div>
  </ion-item>
  </ion-content>
</ion-view>
