<ion-view view-title="فروشگاه"  hide-tabs>
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
  <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
    	<img ng-src="pics/button_verified.png" ng-if="nearStore.sVerified === 'YES'"> 
    	<div class="text text-right">
        <h2> {{nearStore.sName}} </h2>
    	<p>  {{nearStore.sHours}}:ساعات کار </p>
    	<p>  {{nearStore.sTel1}}:تلفن </p>
    	<p>  {{nearStore.sAddress}} </p>
    	<h2> </h2>
    	<div>
    	  	<a href="#/tab/nearme/store/map/{{nearStore.sLat}}/{{nearStore.sLong}}"> <img ng-src="pics/button_map.png"></a>
    		<a href="tel:{{nearStore.sAreaCode}}{{nearStore.sTel1}}"> <img ng-src="pics/button_contact.png"></a>
    	</div>
        </div>
  </ion-item>
  </ion-content>
</ion-view>
