<ion-view view-title="فروشگاهها">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="store in stores track by $index" type="item-text-wrap">
        	<img ng-src="pics/button_verified.png" ng-if="store.sVerified === 'YES'">  
        	<div class="text text-right">
        	<h2> {{store.sName}} </h2>
        	<p>  {{store.sHours}}:ساعات کار </p>
        	<p>  {{store.sTel1}}:تلفن </p>
        	<p>  {{store.sAddress}} </p>
        	<h2> </h2>
        	<div>
        	  	<a href=""> <img ng-src="pics/discount_{{store.dPrecentage}}.png" ng-if="store.dPrecentage > 0"></a>
        	  	<a href="#/tab/store/map/{{store.sLat}}/{{store.sLong}}"> <img ng-src="pics/button_map.png"></a>
    			<a href="tel:{{store.sAreaCode}}{{store.sTel1}}"> <img ng-src="pics/button_contact.png"></a>   		
    		</div> 
        	</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
