<ion-view view-title="تخفیف ها">
 <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
   <div class="item range">
  		0
  		<input type="range" name="volume" min="0" max="15" ng-model="distance" ng-change="updateStores(distance)">
  		15 Km
  </div>
   <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right item-thumbnail-left" ng-repeat="store in stores track by $index" type="item-text-wrap" href="#/tab/deals/store/{{$index}}">
        <img ng-src="pics/logos/{{store.bName.toLowerCase()| removeSpaces}}.png">
            <p></p><p></p><p></p><p></p>
       		 <div class="text text-right">
        	 <h2> {{store.bName}} </h2>
       		 <p> {{store.bCategory}} </p>
       		 <p> {{store.distance}} Km </p>
       		 <i class="icon ion-chevron-right icon-accessory"></i>
       		 </div>
	    
      </ion-item>
    </ion-list>
   
    <div class="card" ng-if="errors">
  		<div class="item item-divider">
  			<div class="text text-right">
    		<h2>!!!تخفیفی پیدا نشد  
    		<img ng-src="pics/error.png">
    		</h2>
    		</div>
  		</div>
  		<div class="item item-text-wrap">
  			<p></p>
  			<div class="text text-right">
    		.گستره جستجو را افزایش دهید و دوباره جستجو نمایید
    		</div>
    		<p></p>
  		</div>
	</div>
    
    
  </ion-content>
</ion-view>
