<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs ng-class="{'tabs-item-hide': $root.hideTabs}" class="tabs-icon-top tabs-dark">

  <!-- Search Tab -->
  <ion-tab title="جستجو" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  
  <!-- Near Me -->
  <ion-tab title="نزدیک من" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/nearme">
    <ion-nav-view name="tab-nearme"></ion-nav-view>
  </ion-tab>
  
  <!-- Deals -->
  <ion-tab title="تخفیف ها" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/deals">
    <ion-nav-view name="tab-deals"></ion-nav-view>
  </ion-tab>

</ion-tabs>
