/* Empty. Add your own CSS if you like */

.button-map {
    background-color: rgb(19,117,228);
    color: white;
}

.button-contact {
  background-color: rgb(6,61,118);
  color: white;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
